.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/* Hiding first label (with value 0) and all inputs */
.star-rating > input,
.star-rating > label:first-child {
  display: none;
}

/* Hiding yellow stars after checked one */
.star-rating > input:checked ~ label img:last-child {
  opacity: 0;
}

/* Showing all yellow stars when entering the wrapper */
.star-rating:not(:checked):hover > label img:last-child {
  opacity: 1;
}

/* Hiding next yellow stars when hovering over one */
.star-rating:not(:checked) > label:hover ~ label img:last-child {
  opacity: 0;
}

.stars-group {
  /* For putting yellow stars on top of grey ones later */
  position: relative;
  display: flex;
  /* Just leaving some space to the right */
  margin: 0 .5rem 0 0;
}

.stars-group > img {
  width: 3rem;
}

/* Yellow stars */
.stars-group > img:last-child {
  position: absolute;
}