:root {
  --color-blue: #E6E9FC;
  --color-white: #FFF;
  --color-black: #161A25;
  --color-grey: #4f5154;
}

body {
  background-color: var(--color-blue);
  font-family: Arial, Helvetica, sans-serif;
}

h1, 
p {
  margin: unset;
}

.rating-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 27rem;
  height: fit-content;
  margin: auto;
  padding: 3rem;
  border-radius: .75rem;
  background-color: var(--color-white);
  text-align: center;
}

.rating-card > h1 {
  margin-bottom: 1.75rem;
  font-size: 1.25rem;
  color: var(--color-black);
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/* Hiding first label (with value 0) and all inputs */
.star-rating > input,
.star-rating > label:first-child {
  display: none;
}

/* Hiding yellow stars after checked one */
.star-rating > input:checked ~ label img:last-child {
  opacity: 0;
}

/* Showing all yellow stars when entering the wrapper */
.star-rating:not(:checked):hover > label img:last-child {
  opacity: 1;
}

/* Hiding next yellow stars when hovering over one */
.star-rating:not(:checked) > label:hover ~ label img:last-child {
  opacity: 0;
}

.stars-group {
  /* For putting yellow stars on top of grey ones later */
  position: relative;
  display: flex;
  /* Just leaving some space to the right */
  margin: 0 1rem 0 0;
}

.stars-group > img {
  width: 3rem;
}

/* Yellow stars */
.stars-group > img:last-child {
  position: absolute;
  transition: .5s;
}

.message {
  margin-top: 1.75rem;
  color: var(--color-grey);
}

/* Mobile */
@media screen and (max-width: 600px) {
  .rating-card {
    max-width: 20rem;
  }
}